.App {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
height: 100vh;
flex-direction: column;
}

.login-card-div {
	box-sizing: border-box;
	height: 634px;
	width: 474px;
	border: 1px solid #BDBDBD;
	border-radius: 24px;
	display: flex;
	justify-content: space-evenly;
	align-content: center;
	flex-direction: column;
}

.login-card-form {
	display: flex;
	flex-direction: column;
}