* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.navbar {
  color: #fff;
  width: 95%;
  display: flex;
  overflow: hidden;
  float: right;
  margin-top: 40px;
  justify-content: space-between;
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar-links a {
  color: #fff;
}

.navbar-links {
  width: 70%;
  height: 96px;

  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
}

hr {
  transform: rotate(90deg) scale(200%);
    margin: -50px -100px -50px -50px;
    opacity: 30%;
}

.navbar-links a {
  float: left;
  display: block;
  text-align: center;
  padding: 36px 22px;
  text-decoration: none;
  align-self: center;

  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #FFFFFF;
}

.navbar-links a:hover {
  border-bottom: 3px solid rgba(255,255,255, 0.25);
}

.navbar-links a:focus {
  border-bottom: 3px solid #fff;
}

/* main */

.main-area-home-div {
  color: #fff;
  height: 382px;
  position: relative;
  top: 25%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-template-rows: 34px 172px 128px;
  /* grid-column-gap: 100px; */
  padding: 0 50px 0 150px;
}

/* .main-area-info{
  
} */

.main-are-subtitle {
  grid-column: 1;
  grid-row: 1;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4px;

  color: #d0d6f9;

}

.main-area-title {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 172px;

  grid-column: 1;
  grid-row: 2;
  color: #ffffff;
}

.main-area-text {
  grid-column: 1;
  grid-row: 3;
  width: 70%;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #d0d6f9;
}

.main-area-btn {
  text-align: center;
  grid-column: 2;
  grid-row: 2;
}

.main-area-btn button {
  border-radius: 150px;
  background-color: #fff;
  color: black;
  text-align: center;
  width: 275px;
  height: 275px;
  position: relative;
  top: 20%;
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: 2px;
  cursor: pointer;

  color: #0b0d17;
  box-shadow: 0 0 0 0 rgba(255,255,255, 0.25);
}

.main-area-btn button:hover {
  animation: pulse 1.5s;
  animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255,255,255,0.25);
  }
    100% {

    box-shadow: 0 0 0 100px rgba(255,255,255, 0.25);
  }
}

/* destination */

.destination-main-div {
  color: #fff;
  height: 382px;
  position: relative;
  top: 15%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0px 100px 130px;
  grid-column-gap: 100px;
  grid-row-gap: 25px;
  padding: 0 50px 0 100px;
}

.destination-subtitle {
  grid-column: 1;
  grid-row: 1;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.destination-subtitle span {
  opacity: 25%;
}

.destination-img {
  grid-column: 1;
  grid-row: span 4;
  margin: 75px auto;
}

.destination-area-btn {
  float: left;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-self: start;
  grid-row: 2;
  grid-column: 2;
  width: 65%;
}

.destination-planet-btn {
  padding: 12px 0px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.2em;
  font-size: 14px;
  text-align: center;
  background: none;
  color: #FFF;
  border: none;
  cursor: pointer;
}

.destination-planet-btn:hover {
  border-bottom: 3px solid #fff;
}

.destination-planet-btn:focus{
  border-bottom: 3px solid #fff;
}

.destination-active-btn {
  border-bottom: 3px solid #fff;
}

.destination-title {
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 115px;
  color: #FFFFFF;
}

.destination-info {
  grid-column: 2;
  grid-row: 4;
  width: 75%;
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #D0D6F9;
}

.destination-sub-info {
  grid-column: 2;
  grid-row: 5;
  display: flex;
  justify-content: start;
  align-self: start;

  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color: #D0D6F9;
margin-top: 55px;

}

.destination-sub-info-left {
  padding-right: 25%;

  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
text-transform: uppercase;

color: #FFFFFF;
}
.destination-sub-info-left h4 {
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
letter-spacing: 2.3625px;
text-transform: uppercase;
color: #D0D6F9;
}

.destination-sub-info-right {
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 32px;
text-transform: uppercase;

color: #FFFFFF;
}

.destination-sub-info-right h4{
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #D0D6F9;

}

/* Crew */

.crew-main-div{
  color: #fff;
    height: 382px;
    position: relative;
    top: 10%;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 35px 50px 50px 135px auto;
    /* grid-column-gap: 200px; */
    padding: 0 50px 0 150px;
}

.crew-subtitle{
  grid-column: 1;
  grid-row: 1;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.crew-img{
  grid-column: 2;
  grid-row: span 6;
}
.crew-img img{
    max-width: -moz-fit-content;
    max-height: -moz-fit-content;
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 125px;
}

.crew-subtitle span {
  opacity: 25%;
}

.crew-role{
  grid-column: 1;
  grid-row: 3;
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 37px;
text-transform: uppercase;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.5;
}

.crew-name{
  grid-column: 1;
  grid-row: 4;
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;
text-transform: uppercase;

color: #FFFFFF;
}

.crew-sub-info{
  grid-column: 1;
  grid-row: 5;
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;

color: #D0D6F9;
}

.crew-main-btn{
  grid-column: 1;
  grid-row: 6;
}

.crew-btn{
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
  mix-blend-mode: normal;
  opacity: 0.17;
}

.crew-btn:focus{
  /* mix-blend-mode: normal; */
  opacity: 1;
}

.active-btn {
  opacity: 1;
}

/* Tech */

.tech-main-div {
  color: #fff;
  height: 382px;
  position: relative;
  top: 10%;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 45% 45%;
  grid-template-rows: 100px 100px 50px 75px 300px;
  /* grid-column-gap: 200px; */
  padding: 0 0 0 150px;
}
.tech-img-div{
  grid-column: 3;
  grid-row: 2 / 6;
  background-color: #D0D6F9;
  justify-self: flex-end;
}
.tech-img-div img{
  width: 100%;
}


.tech-subtitle{
  grid-column: span 2;
  grid-row: 1;
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 4.725px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.tech-subtitle span {
  opacity: 25%;

}

.tech-sub-subtitle{
  grid-column: 2;
  grid-row: 3;
  font-family: 'Barlow Condensed';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
letter-spacing: 2.7px;

color: #D0D6F9;

}

.tech-title{
  grid-column: 2;
  grid-row: 4;
  font-family: 'Bellefair';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 64px;

color: #FFFFFF;
}

.tech-text{
  grid-column: 2;
  grid-row: 5;
  font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;

color: #D0D6F9;

}

.tech-btn-div{
  grid-column: 1;
    grid-row: 3 / 6;
    /* background-color: #0929e2; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 25px;

}

.tech-btn{
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  width: 75px;
  height: 75px;
  border-radius: 300px;
  text-align: center;
  letter-spacing: 2px;
  background-color: rgba(255,255,255, 0);
  color: #FFFFFF;
  cursor: pointer;
  border-color: gray;
}

.tech-btn:hover{
  color: #FFFFFF;
  /* background-color: rgba(255,255,255, 1); */
  border-color: rgba(255,255,255, 1);
}

.tech-btn:focus{
  color: #0B0D17;
  background-color: rgba(255,255,255, 1);
}

.tech-active-btn{
  color: #0B0D17;
  background-color: rgba(255,255,255, 1);
}
